---
import Glow from "../components/Glow.astro";
import club from "../assets/club.jpg";
import { Image } from "@astrojs/image/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leland Computer Science Club</title>
    <meta
      name="description"
      content="Learn. Code. Share. Join Leland Computer Science Club today!"
    />
    <meta
      property="og:description"
      content="Learn. Code. Share. Join Leland Computer Science Club today!"
    />
  </head>
  <body class="bg-black text-white">
    <main class="py-16 px-4 text-lg sm:text-xl">
      <div class="max-w-prose mx-auto">
        <Glow as="h1" class="mx-auto text-center text-4xl font-bold">
          Leland Computer Science Club
        </Glow>
        <div
          class="text-center rounded-full mt-4 px-4 py-1 text-fuchsia-100 bg-fuchsia-900/40 w-fit mx-auto"
        >
          Wednesdays 3:30 - 4:30 @ E-8
        </div>
        <Image
          class="mx-auto mt-8 rounded-lg"
          src={club}
          alt="Students coding at a CS Club meeting"
          width={600}
          aspectRatio={16 / 9}
        />
        <div class="relative w-fit mx-auto mt-8">
          <a
            href="https://forms.gle/4MGuPBgWut4k1HiA6"
            class="text-black bg-white px-4 py-2 font-mono rounded-lg hover:scale-110 block duration-300 hover:duration-150"
            >Interest Form</a
          >

          <div
            class={"absolute z-[-10] -top-1 -bottom-1 -left-2 -right-2 blur-md bg-gradient-to-r from-fuchsia to-blue backdrop-blur-3xl"}
          >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
